.logos {
  background: $background-dark;
  padding: 20px 0;
}

.text {
  padding: 50px;
  background: $background-light;
  @media only screen and (max-width: 767px) {
    padding: 50px 20px;
  }
  p,
  h1,
  h2 {
    color: $black;
    text-align: center;
  }
  h1 {
    font-size: 29px;
  }
  h2 {
    font-size: 27px;
    margin-bottom: 2px;
    margin-top: 40px;
  }
  p {
    font-size: 18px;
    margin: 14px 0;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  h1 span {
    @media only screen and (max-width: 767px) {
      display: block;
      height: 10px;
      color: transparent;
    }
  }
  .pdflink {
    display: flex;
    justify-content: center;
  }
  .pdf {
    color: $red_dark;
    padding: 0 20px;
    cursor: pointer;
    &:hover {
      color: $red-light;
      text-decoration: none;
    }
  }
}
