.flipper {
  margin: 40px 0;
  .square {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background: $background-light;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
  }
  .square-in {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        line-height: 12px;
        font-size: 12px;
        opacity: .5;
        @include media-breakpoint-up(sm) {
          line-height: 10px;
          font-size: 16px;
        }
      }
    }
    h2 {
      font-size: 18px;
      opacity: .5;
      @include media-breakpoint-up(sm) {
        font-size: 24px;
      }
    }
  }
}
