.portafolio {
  margin: 50px 0;
  img {
    width: 100%;
  }
}

.page-inside {
  margin: 50px 0 100px;
}

.page-inside img {
  width: 150px;
}

.legende {
  background: #d9cece none repeat scroll 0 0;
  padding: 20px 50px 20px 30px;
}

.legende p {
  color: #555;
  margin: 0;
  line-height: 18px;
}
