.mosaic {
  background: $red-dark;
  a {
    cursor:pointer
  }
  a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: ease .5s all;
    img {
      opacity: .6;
      transition: ease .5s all;
    }
    &:before {
      content: "+";
      position: absolute;
      color: #fff;
      font-size: 140px;
      z-index: 10;
      transition: ease .5s all;
    }
  }
}

.mosaicbutton {
  width: 100%;
  height: 100%;
  display: block;
  img {
    width: 100%;
    height: 100%;
  }
}

.backbutton {
  width: 100%;
  text-align: left;
  height: 100px;
  display: flex;
  align-items: center;
  flex-basis: 80px;
  min-width: 80px;
  cursor: pointer;
  @include media-breakpoint-up(lg) {
    width: 80%;
  }
  img {
    width: 50px !important;
    margin-left: 20px;
  }
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  background: #eaeaea;
  margin-left: -20px;
  padding-right: 80px;
  @include media-breakpoint-down(md) {
    max-width: 70%;
    margin: 60px auto 0;
    padding: 0;
  }
}

.legend {
  max-width: 83.33333%;
  margin: 0 auto 80px auto;

  h2 {
    font-size: 40px;
    margin-top: 40px;
  }
  p {
    font-size: 20px;
  }
}
