.language {
  display: flex;
  justify-content: center;
  a {
    color: #806a6c !important;
    padding: 10px;
    text-decoration: underline !important;
    cursor: pointer;
    &:hover {
      color: #474040 !important;
    }
  }
}
