.language {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    color: #ad2424 !important;
    padding: 10px;
    text-decoration: underline !important;
    cursor: pointer;
    &:hover {
      color: #474040 !important;
    }
  }
}
