<div class="container">

    <div class="legend">
        <h2 id="p1-title"></h2>
        <p id="p1-subtitle"></p>
    </div>
    
    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-md-10 ">
                <img src="assets/img/p1-img1.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-md-10 ">
                <img src="assets/img/p1-img2.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-md-10 ">
                <img src="assets/img/p1-img4.jpg">
            </div>
        </div>
    </div>

    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-md-10 ">
                <img src="assets/img/p1-img5.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-md-10 ">
                <img src="assets/img/p1-img3.jpg">
            </div>
        </div>
    </div>
</div>
