<div class="container">

    <div class="legend">
        <h2 id="p11-title"></h2>
        <p id="p11-subtitle"></p>
    </div>

    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img1.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img2.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img3.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img4.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img5.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img6.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img7.jpg">
            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/p3-img8.jpg">
            </div>
        </div>
    </div>
</div>
