<div class="container">

    <div class="legend">
        <h2 id="p13-title">Test</h2>
        <p id="p13-subtitle"></p>
    </div>

    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Gl3VzUhk4k?autoplay=0&showinfo=0&controls=0&rel=0&modestbranding=1" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>


    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/toiture-couture-inside-1.png">
            </div>
        </div>
    </div>
    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/toiture-couture-inside-2.png">
            </div>
        </div>
    </div>
    <div class="portafolio">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10">
                <img src="assets/img/toiture-couture-inside-3.png">
            </div>
        </div>
    </div>

</div>
