<div class="container">
  <div class="legend">
    <h2 id="p14-title"></h2>
    <p id="p14-subtitle"></p>
  </div>

  <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10">
        <img src="assets/img/rangrover1.png" />
      </div>
    </div>
  </div>
  <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10">
        <img src="assets/img/rangrover2.png" />
      </div>
    </div>
  </div>
  <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10">
        <img src="assets/img/rangrover3.png" />
      </div>
    </div>
  </div>
</div>
