<div class="container">
  

 <div class="portafolio">
    <div class="row">
      <div class="col-md-6   ">

         <img src="assets/img/p2-img1.jpg">
              <div class="col-sm-12  legende text-left">
                    <p>Campagne d'affichage pour un festival jeune public à Pessac, déclinaison sur dépliant et marque-pages. </p>
              </div>
      </div>

      <div class="col-md-6    ">

         <img src="assets/img/p2-img3.jpg">
              <div class="col-sm-12  legende text-left">
                    <p>Campagne de lancement pour le magazine Terre de Vins, affichage à l'aéroport de Bordeaux, France. </p>
              </div>
      </div>
    </div>
  </div>


<div class="portafolio">
    <div class="row">
      <div class="col-md-6   ">

         <img src="assets/img/p2-img2.jpg">
              <div class="col-sm-12  legende text-left">
                    <p>Campagne de lancement de saison pour l'Olympia d'Arcachon, déclinaison sur dépliant et programme. </p>
              </div>
      </div>
  
      <div class="col-md-6    ">

         <img src="assets/img/p2-img4.jpg">
              <div class="col-sm-12  legende text-left">
                    <p>Campagne de lancement de saison pour le théâtre Le Liburnia, appel d'offre. </p>
              </div>
      </div>
    </div>
  </div>
</div>