    <div class="container">


        <div class="portafolio">
            <div class="row justify-content-sm-center">
                <div class="col-sm-10  ">

                    <img src="assets/img/p4-img1.jpg">
                    <div class="col-sm-12  legende ">
                        <p>Refonte globale de l'identité visuelle du Centre de Services de Justice Réparatrice.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="portafolio">
            <div class="row justify-content-sm-center">
                <div class="col-sm-10  ">

                    <img src="assets/img/p4-img2.jpg">
                    <div class="col-sm-12  legende ">
                        <p>Catalogues et affiches pour le CSJR.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>