{% extends '../layouts/default.twig' %}
{% set head_title = 'Sample Page' %}
{% set body_class = '' %}
{% set menu_active = 'sample-page' %}

{% block page %}
<div class="container">
   {% include '../components/backbutton.twig' %}


 <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10  ">

         <img src="assets/img/p4-img1.jpg">
              <div class="col-sm-12  legende ">
                    <p>Refonte globale de l'identité visuelle du Centre de Services de Justice Réparatrice. </p>
              </div>
      </div>
    </div>
  </div>


<div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10  ">

         <img src="assets/img/p4-img2.jpg">
              <div class="col-sm-12  legende ">
                    <p>Catalogues et affiches pour le CSJR. </p>
              </div>
      </div>
    </div>
  </div>



<div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10  ">

         <img src="assets/img/p4-img3.jpg">
              <div class="col-sm-12  legende ">
                    <p>Création de l'identité visuelle du Nouveau Centre de Langues et d'Arts dans le Vieux-Montréal. </p>
              </div>
      </div>
    </div>
  </div>


  <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10  ">

         <img src="assets/img/p4-img4.jpg">
              <div class="col-sm-12 mx-auto">
                    <p>Site internet et documents promotionnels pour le NCLA. </p>
              </div>
      </div>
    </div>
  </div>



<div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10  ">

         <img src="assets/img/p4-img5.jpg">
              <div class="col-sm-12  legende ">
                    <p>Proposition d'identité visuelle pour un site de coupons en ligne. </p>
              </div>
      </div>
    </div>
  </div>



<div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10  ">

         <img src="assets/img/p4-img6.jpg">
              <div class="col-sm-12  legende ">
                    <p>Site internet d'achat de coupons en ligne. </p>
              </div>
      </div>
    </div>
  </div>
 </div>


{% endblock %}
