{% extends '../layouts/default.twig' %}
{% set head_title = 'Sample Page' %}
{% set body_class = '' %}
{% set menu_active = 'sample-page' %}

{% block page %}

<div class="container">
   

 <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-md-10 ">

         <img src="assets/img/metro1-big.jpg">
              <div class="col-12 legende text-left">
                    <p> Participation à la création d'une nouvelle plateforme identitaire pour la marque Metro, mon épicier et pour son programme metro&moi. Création visuelle, rédaction et production d'un livre de marque et d'un guide de normes de 150 pages sur les nouvelles normes de l'épicier préférée des Québécois.  </p>
              </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}
