<div class="container">
  

 <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-md-10 ">

         <img src="assets/img/mikes1-big.jpg">
              <div class="col-12 legende text-left">
                    <p> Proposition de bannière web animée pour la campagne saisonnière du homard chez Mikes. </p>
              </div>
      </div>
    </div>
  </div>

 <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-md-10 ">

         <img src="assets/img/mikes2-big.png">
              <div class="col-12 legende text-left">
                    <p> Proposition de bannière web animée pour la campagne saisonnière du homard chez Mikes. </p>
              </div>
      </div>
    </div>
  </div>


 <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-md-10 ">

         <img src="assets/img/mikes3-big.png">
              <div class="col-12 legende text-left">
                    <p> Proposition de bannière web animée pour le Super Bowl 2018. </p>
              </div>
      </div>
    </div>
  </div>


</div>