{% extends '../layouts/default.twig' %}
{% set head_title = 'Sample Page' %}
{% set body_class = '' %}
{% set menu_active = 'sample-page' %}

{% block page %}

<div class="container">
  

 <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-md-10 ">

         <img src="assets/img/glucerna1-big.png">
              <div class="col-12 legende text-left">
                    <p> Refonte de site web pour Glucerna, marque des Laboratoires Abbott. Version desktop et mobile, UX et UI. </p>
              </div>
      </div>
    </div>
  </div>
  
   <div class="portafolio">
    <div class="row justify-content-sm-center">
      <div class="col-md-10 ">

         <img src="assets/img/glucerna2-big.png">
              <div class="col-12 legende text-left">
                    <p> Montages photos illustrant des articles et des plannifications de repas. </p>
              </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}
