  <footer class="footer" data-equalizer="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-lg-9 first">
          <h2>Céline Bonte / <span>Design Graphique </span></h2>
        </div>
        <div class="col-md-4 col-lg-3 second">
          <p><a href="mailto:celinebonte@gmail.com">celinebonte@gmail.com</a> </br> <a href="tel:(351) 91026 9117">(351) 91 026 9117</a></p>
          <a href="https://ca.linkedin.com/in/celine-bonte" class="linkedin"><i class="fa fa-linkedin fa-2x"></i> </a>
        </div>
      </div>
    </div>
  </footer>