  <section class="text">
    <div class="container ">

      <div class="row justify-content-md-center">
        <div class="col-md-7">

        <div>
          <h1 id="title" /></h1>
          <p id="text" /></p>
              {#<div class="pdflink">#}
                       
              {#<a class="pdf" href="assets/img/portfolio.pdf" target="_lank">PORTFOLIO </a>#}
              {#</div>#}
        </div>

      </div>
    </div>
  </section>
  
