  <section class="text">
    <div class="container ">

      <div class="row justify-content-md-center">
        <div class="col-md-7">

        <div>
          <h1 id="title" /></h1>
          <p id="text" /></p>
              {#<div class="pdflink">#}
                       
              {#<a class="pdf" href="assets/img/portfolio.pdf" target="_lank">PORTFOLIO </a>#}
              {#</div>#}


  <div class="language">
    <a onclick="i18next.changeLanguage('fr')"> 
      français
    </a>
    <a onclick="i18next.changeLanguage('pt')"> 
      portugues
    </a>
    <a onclick="i18next.changeLanguage('en')"> 
      english
    </a>
     <a onclick="i18next.changeLanguage('es')"> 
      spanish
    </a>
  </div>

        </div>

      </div>
    </div>
  </section>
  
