  <div class="language">
    <a onclick="i18next.changeLanguage('fr')"> 
      français
    </a>
    <a onclick="i18next.changeLanguage('pt')"> 
      português
    </a>
    <a onclick="i18next.changeLanguage('en')"> 
      english
    </a>
     <a onclick="i18next.changeLanguage('es')"> 
      español
    </a>
  </div>