</div> 
        
 <section class="logos">
    <div class="container">
      <div class="row">


      {% for i in 1..2 %}
    

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo{{ i }}.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2 id="logo{{ i }}"></h2>
                <ul id="logo{{ i }}-text">
                </ul>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}





     


        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo3.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Metro</h2>
                <ul>
                  <li>Plateforme d’identité visuelle</li>
                  <li>Guide de normes graphiques</li>
                  <li>Livre de marque</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo4.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Fromagerie Bergeron</h2>
                <ul>
                  <li>Vidéo promotionnelle</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo5.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Similac</h2>
                <ul>
                  <li>Refonte du site web</li>
                  <li>Expérience Usager</li>
                  <li>Illustrations originales</li>
                  <li>Montage photo</li>
                  <li>Réseaux sociaux</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo6.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Formula 1</h2>
                <ul>
                  <li>Design de logos</li>
                  <li>Produits dérivés</li>
                  <li>Production québécoise</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo7.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>STM</h2>
                <ul>
                  <li>Campagnes 360</li>
                  <li>Expérience client</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo8.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Mikes</h2>
                <ul>
                  <li>Campagnes numériques</li>
                  <li>Bannières web</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo9.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Ensure</h2>
                <ul>
                  <li>Refonte du site web</li>
                  <li>User Experience</li>
                  <li>Montage photo</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo10.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>CSJR</h2>
                <ul>
                  <li>Refonte de l'identité visuelle</li>
                  <li>Site web</li>
                  <li>Affichage, dépliants et invitations</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo11.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>La Presse</h2>
                <ul>
                  <li> Mise en page sur tablette</li>
                  <li>Illustrations originales</li>
                  <li>Data visuel, infographies</li>
                  <li>Expérience Usager</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="flipper">
            <div class="front">
              <img src="assets/img/logos/logo12.jpg">
            </div>
            <div class="back square">
              <div class="square-in">
                <h2>Bombardier</h2>
                <ul>
                  <li>Encarts publicitaires imprimés </li>
                  <li>Carte de Noël</li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>
  </section>