<div class="modal fade " id="mosaicmodal" tabindex="-1" role="dialog" aria-labelledby="mosaicLabel" aria-hidden="true">
    <div class="modal-dialog full-screen" role="document">
        <div class="modal-content">

            <div class="modal-body">
              {% include '../components/backbutton.twig' %}

                <iframe src="" id="mosaiciframe">
                    Your browser doesn't support iframes
                </iframe>
            </div>

        </div>
    </div>
</div>
