
<!-- view modal -->
<div class="text-center pdf"
        data-toggle="modal"
        data-target="#fsModal">
En Ligne </div>
<!-- view modal -->

<!-- modal -->
<div id="fsModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">


      <!-- header -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      <!-- header -->
      
      <!-- body -->
      <div class="modal-body ">
        <div class="row no-gutters">
        <div class="col-6 col-md-3"><a href="p1.html"><img src="assets/img/mozaique01.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p2.html"><img src="assets/img/mozaique02.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p4.html"><img src="assets/img/mozaique12.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p3.html"><img src="assets/img/mozaique03.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p2.html"><img src="assets/img/mozaique04.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p2.html"><img src="assets/img/mozaique05.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p1.html"><img src="assets/img/mozaique06.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p3.html"><img src="assets/img/mozaique07.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p4.html"><img src="assets/img/mozaique09.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p3.html"><img src="assets/img/mozaique08.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p4.html"><img src="assets/img/mozaique10.jpg" alt="" /></a></div>
        <div class="col-6 col-md-3"><a href="p1.html"><img src="assets/img/mozaique11.jpg" alt="" /></a></div>
        </div>
      </div>
      <!-- body -->

   

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->